<html>
	<head>
		<title>Wellness Tracker</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/login.css" rel="stylesheet">
		<script src="/js/login.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>

	<body>
		<div id="main" class="screen">
	    	<h1 class="">Wellness Forum</h3>

	    	<div class="login">
		    	<input type="text" id="username" placeholder="Username" required>
	        	<input type="password" id="password" placeholder="Password" required>
	        	<input type="submit" onclick="login()" value="Login">
	        	<span class="forgot">Forgot <a href="#">password</a>?</span>
        	</div>

		</div>


	</body>
</html>