<html>
<head>
	<title>Wellness Tracker</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">

	<script src="/js/bar.js"></script>
	<script src="routes/addRecords.js"></script>
</head>

<body>
	<div id="main" class="screen">
		<div class="dropdown">
		<button onClick="openMenu()" class="dropbtn">&#9776;</button>
		<div id="sidebar" class="dropdown-content">
      <a class="selected" href="/">Home</a>
      <a href="record">Record</a>
      <a href="forum">Forum</a>
      <a href="profile">Profile</a>
      <a href="help">Help</a>
		</div>
  </div>
    <h3 class="title">Record Data</h3>
		<div class="submitform">
				<form id="addRecord" role="form" method="get" action="/addRecords">
					<label class="formlabels" for="date">Date:</label>
					<input type="text" class="forLabels" id="date" placeholder="mm/dd/yyyy" name="date"><br>

					<label class="formlabels" for="title">Title:</label>
					<input type="text" class="forLabels" id="title" placeholder="Title" name="title"><br>

					<label class="formlabels2" for="subject" class="recordlabel">Subject:</label>
					<select name="subject" id="subject" class="recordsel">
						<option value="recsleep" id="subject">Sleeping</option>
						<option value="Mood" id="subject">Mood</option>
						<option value="Exercise" id="subject">Exercise</option>
					</select><br>



		</div><br>
		<div class="group" id="recsleep">
		<p> How many hours did you sleep last night?</p>
		<input type="text" id="exc" name="title"><br>
	</div>



	<div class="group" id="Mood">
		<p> On a scale of 1 to 10 how happy were you yesterday?</p>
		<input type="text" id="stress" name="title"><br>
		</div>

		<div class="group" id="Excercise">
			<p> How many hours of excercise did you get yesterday?</p>
			<input type="text" id="excer" name="title"><br>
			</div>
		<p>&#160;</p>

		<a href="/"><button type="button" class="cancel" value="cancel">Cancel</button></a>
		<input type="submit" id="submitBtn" class="btn btn-default" value="Save"></input><br>

		<div id="finish" class="finish">
			<p>log successfully saved!</p>
			<a href="/home"><button type="button" id="goback" class="goback">Home</button></a>
		</div>
	</div>
	</div>
	</form>

</div>


</body>
</html>
