<html>
<head>
	<title>Wellness Tracker</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">

	<script src="/js/bar.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
	<div id="main" class="jumbotron">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
		<button class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
		<div id="sidebar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a class="selected" href="/home">Home</a>
				</li>
				<li><a href="record">Record</a>
					</li>
				<li><a href="forum">Forum</a>
					</li>
				<li><a href="profile">Profile</a>
					</li>
				<li><a href="help">Help</a>
					</li>
				<li><button type="button" id="logout" class="btn btn-danger">Log Out</button>
					</li>
				</ul>
		</div>
	</div>
</div>
</div>
    <h3 class="thetitle">Record Data</h3>
		<div class="submitform">
				<form id="addRecord" role="form" method="get" action="/addRecords">
					<label class="formlabels" for="date">Date:</label>
					<input type="text" class="forLabels" id="date" placeholder="mm/dd/yyyy" name="date"><br>

					<label class="formlabels" for="title">Title:</label>
					<input type="text" class="forLabels" id="title" placeholder="Title" name="title"><br>

					<label class="formlabels2" for="subject" class="recordlabel">Subject:</label>
					<select name="Subject" id="subject" class="recordsel">
						<option value="Sleep">Sleeping</option>
						<option value="Mood">Mood</option>
						<option value="Excercise">Excercise</option>
					</select><br>



		</div><br>
		<div class="group" id="Sleep">
		<p> How many hours did you sleep last night?</p>
		<input type="text" id="exc" name="title"><br>
	</div>



	<div class="group" id="Mood">
		<p> On a scale of 1 to 10 how happy were you yesterday?</p>
		<input type="text" id="stress" name="title"><br>
		</div>

		<div class="group" id="Excercise">
			<p> How many hours of excercise did you get yesterday?</p>
			<input type="text" id="excer" name="title"><br>
			</div>
		<p>&#160;</p>

		<a href="/home"><button type="button" class="btn btn-default cancel" value="cancel">Cancel</button></a>
		<button type="button" id="saved" class="btn btn-primary save">Save</button>

		<div id="finish" class="finish">
			<p>log successfully saved!</p>
			<a href="/home"><button type="button" id="goback" class="btn btn-primary goback">Home</button></a>
		</div>
	</div>
	</div>
	</form>

</div>


</body>
</html>
