#myModal{
	width: 50%;
	height: 80%;
	
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	font-size: 15px;
}

#topic{
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
}
#close{
	margin-right: 90%;
}

.formlabelsMessage{
	margin-right: auto;
	border-radius: 4px;
	margin: auto
}

input[type=text] {
   width: 225px;
   margin-left: 40%;
   margin-right: 3%;
}

textarea {
   width: 225px;
   margin-right: 8%;
}
