.profile-pic {
	margin-top: 45px;
	margin-left: -35px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name {
	text-align: center;
	margin-top: 15px;
	margin-bottom: -15px;
}

.recents {
	text-align: left;
	margin-top: 50px;
}